extends ../node_modules/jade-bootstrap/layouts/sign-in

append styles
  link(rel='stylesheet' href='/css/font-awesome.css')
  link(rel='stylesheet' href='/css/docs.css')
  link(rel='stylesheet' href='/stylesheets/bootstrap-social.css')

append body
  .container
    form.form-signin.form-social-signin
      h5 Or sign in with the following services
      button.btn.btn-block.btn-social-icon.btn-google(type='submit' value='google' formaction='/login/google')
        span.fa.fa-google
