extends layout

block content
  #Thermostat
    h2 Thermostat
    #TempHolder
      labal#lblCurTemp.temp-value
      label#lblTempType F
      br
    #SetTempHolder
      #ThermoStatus
        label#lblThermoOn.thermo-status
        label#lblThermoOff.thermo-status
      label#lblSetTemp.temp-value
      label#lblTempType F
      #SetTempButtons
        button#btnIncrease(type='submit', value='increase', onclick='changeTemp(\'increase\')') &#9650   
        button#btnDecrease(type='submit', value='decrease', onclick='changeTemp(\'decrease\')') &#9660   
        
