body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: xx-large;
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

:root {
  --main-width: 500px;
  --main-height: 250px;
}

#Thermostat {
  position:relative;
  border-spacing:5px;
  background:#CCC;
  height: var(--main-height);
  width: var(--main-width);
}

#TempHolder, #SetTempHolder {
  position: relative;
  margin: 0 20px 20px;
  font-weight: bolder;
  background:#ECE;
  width: 120px;
  float: right;
  right: 50px;
}

#SetTempHolder {
  width: 160px;
  clear: both;
}

#lblTempType {
  position: relative;
  float: left;
  top: 33px;
  background: #EEE;
}

#ThermoStatus {
  float: left;
  background: #AAA;
  width: 30px;
  margin-right: 10px;
}
#ThermoStatus .thermo-status {
  float: left;
  margin: 5px;
}

#lblSetTemp {
  background: #CBC
}

#lblThermoOn {
  background: red;
}
#lblThermoOff {
  background: green;
}

#SetTempButtons {
  float: right;
  background: #ABC;
  width: 30px;
  font-size: x-large;
}

.temp-value {
  margin: 0;
  float: left;
  font-size: 50px;
}
